body {
border-top : 20px solid #5C2686;
}

header {
margin : auto;
background-image : url(../img/1.jpg);
background-position : center;
background-size : cover;
color : white;
font-family : Montserrat;
}

.flex1 {
display : flex;
justify-content : center;
align-items : center;
padding : 5% 20%;
color : white;
}

.header-icons a {
font-size : 20px;
margin-right : 10px;
}

.flex2 {
display : flex;
justify-content : center;
align-items : flex-start;
}

.about {
margin : 0 70px;
margin-top : 20px;
padding : 5% 20%;
font-family : Montserrat;
box-shadow : -1px -1px 44px 0 #A9A9A9;
}

.about img {
  
 width: 500px;
  
}

.about p{
  color:#777;
  text-transform: lowercase;
  text-decoration: overline;
  font-style: italic;
}


.content {
padding : 5% 20%;
font-family : Montserrat;
}

ol{
  list-style-type:katakana;
}

a:link {
color : purple;
}

a:hover {
color : pink;
}

a:visited {
color :#ff9900;
}

footer {
background-color : purple;
font-family : Montserrat;
}

.contact {
padding : 5% 20%;
display : flex;
justify-content : flex-start;
align-items : flex-start;
flex-direction : column;
box-sizing : border-box;
width : 100%;
}
