header{
	margin:auto;
	background-image: url(../img/1.jpg);
    background-position: center;
    background-size:cover;
	color:white;
	font-family:Montserrat;
}

.flex1{
	display:flex;
	justify-content:center;
	align-items: center;
	padding: 5% 20%;
	color:white;
}

.header-icons a{
	font-size:20px;
	margin-right:10px;
}

.flex2{
	display:flex;
	justify-content:center;
	align-items:flex-start;
}

.about{
	margin:0px 70px;
	margin-top:20px;
	padding:5% 20%;
	font-family:Montserrat;
	box-shadow:-1px -1px 44px 0 #A9A9A9;
	text-allign:center;
	
}

.content{
 	padding:5% 20%;
        font-family:Montserrat;
}

footer{
background-color:purple;	
}
