header{
	background-color:#ECDB0E;
	margin:auto;
	align-items:center;
	padding:5% 20%;
	font-family:Montserrat;
}

.flex1{
	display:flex;
	justify-content:flex-end;
	align-items: center;
	flex-direction:column;
}


